<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <newance_training>
            <index_page>
                <title>Training</title>
            </index_page>
            <post_view>
                <related_posts>
                    <enabled>0</enabled>
                    <number_of_posts>5</number_of_posts>
                </related_posts>
                <related_products>
                    <enabled>0</enabled>
                    <number_of_products>5</number_of_products>
                </related_products>
                <subscribers>
                    <enabled>1</enabled>
                    <recipient_email>
                        <![CDATA[hello@example.com]]>
                    </recipient_email>
                    <sender_email_identity>custom2</sender_email_identity>
                    <sender_email_template>newance_training_post_view_subscribers_sender_email_template</sender_email_template>
                    <sender_email_template_admin>newance_training_post_view_subscribers_sender_email_template_admin</sender_email_template_admin>
                </subscribers>
            </post_view>
            <post_list>
                <posts_per_page>10</posts_per_page>
                <posts_per_page_home>10</posts_per_page_home>
            </post_list>
            <request_form>
                <request_email>marketing@distri-company.com</request_email>
                <request_admin_identity>Marketing</request_admin_identity>
                <request_email_template>newance_training_request_form_request_email_template</request_email_template>
            </request_form>
            <sidebar>
                <search>
                    <enabled>1</enabled>
                    <sort_order>10</sort_order>
                </search>
                <categories>
                    <enabled>1</enabled>
                    <show_posts_count>1</show_posts_count>
                    <sort_order>20</sort_order>
                </categories>
                <brands>
                    <enabled>1</enabled>
                    <show_posts_count>1</show_posts_count>
                    <sort_order>30</sort_order>
                </brands>
                <recent_posts>
                    <enabled>1</enabled>
                    <posts_per_page>5</posts_per_page>
                    <sort_order>40</sort_order>
                </recent_posts>
            </sidebar>
            <product_page>
                <related_posts_enabled>0</related_posts_enabled>
                <number_of_related_posts>5</number_of_related_posts>
            </product_page>
            <permalink>
                <route>trainings</route>
                <type>default</type>
                <post_route>post</post_route>
                <category_route>category</category_route>
                <brand_route>brand</brand_route>
                <search_route>search</search_route>
            </permalink>
        </newance_training>
    </default>
</config>
