.mollie-buttons {
  margin-top: 10%;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mollie-buttons .button {
  display: inline-block;
  margin: 20px;
  max-width: 100%;
  padding: 0 16px;
  border: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  background-color: #0095FF;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4.4rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mollie-buttons {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
.mollie-buttons .button:hover {
  background-color: #0077CB;
}
.mollie-loading .redirect-block {
  padding: 10%;
  text-align: center;
}
.checkout-payment-method #mollie_methods_ideal-form .label {
  height: 35px;
  display: inline-block;
}
.checkout-payment-method #mollie_methods_ideal-form .payment-icon {
  width: 35px;
  max-height: 30px;
}
.checkout-payment-method #mollie_methods_kbc-form .label {
  height: 35px;
  display: inline-block;
}
.checkout-payment-method #mollie_methods_kbc-form .payment-icon {
  width: 35px;
  max-height: 30px;
}
.checkout-payment-method #mollie_methods_giftcard-form .label {
  height: 40px;
  display: inline-block;
}
.checkout-payment-method #mollie_methods_giftcard-form .payment-icon {
  width: 35px;
  max-height: 30px;
}
.mollie-payment-icon {
  width: 25px;
  margin-right: 5px;
  vertical-align: middle;
}
.mollie-loading .loader {
  border: 16px solid #E3F0FA;
  border-top: 16px solid #31A8F0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mollie-component {
  width: 90%;
  height: 20px;
  background-color: #FFF;
  padding: 10px 15px;
  border-radius: 6px;
  color: #222;
  transition: all 0.05s ease;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  margin-top: 5px;
}
.mollie-component.is-invalid {
  background-color: #FFF0F0;
  box-shadow: 0px 1px 1px 0px rgba(255, 51, 68, 0.1), 0px 1px 3px 0px rgba(255, 51, 68, 0.1);
}
.payment-method-content .card-container {
  max-width: 400px;
  overflow: auto;
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 20px;
  margin-bottom: 10px;
}
.component-error {
  color: #FF0000;
  display: none;
  margin-bottom: 10px;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2FMollie_Payment%5C%2Fcss%5C%2Fstyles.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAA%3BEACI%2CeAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CoBAAA%3BEACA%2CmBAAA%3BEACA%2C6BAAA%3B%3BAAGJ%3BEACI%3BIACI%2CUAAA%3B%3BEAEJ%3BIACI%2CUAAA%3B%3B%3BAAIR%2CeAAgB%3BEACZ%2CqBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3BEACA%2CSAAA%3BEACA%2C2CAAA%3BEACA%2CkBAAA%3BEACA%2CyBAAA%3BEACA%2CWAAA%3BEACA%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CkBAAA%3BEACA%2CqBAAA%3BEACA%2CaAAA%3BEACA%2CgBAAA%3BEACA%2CuBAAA%3BEACA%2CoCAAA%3BEACA%2C4BAAA%3BEACA%2CmBAAA%3BEACA%2CyBAAA%3BEACA%2CsBAAA%3BEACA%2CqBAAA%3BEACA%2CiBAAA%3B%3BAAGJ%3BEACI%2CUAAA%3BEACA%2CsCAAA%3BEACA%2CmCAAA%3BEACA%2CkCAAA%3BEACA%2CiCAAA%3BEACA%2C8BAAA%3B%3BAAGJ%2CeAAgB%2CQAAO%3BEACnB%2CyBAAA%3B%3BAAGJ%2CeAAgB%3BEACZ%2CYAAA%3BEACA%2CkBAAA%3B%3BAAGJ%2CwBAAyB%2C2BAA2B%3BEAChD%2CYAAA%3BEACA%2CqBAAA%3B%3BAAGJ%2CwBAAyB%2C2BAA2B%3BEAChD%2CWAAA%3BEACA%2CgBAAA%3B%3BAAGJ%2CwBAAyB%2CyBAAyB%3BEAC9C%2CYAAA%3BEACA%2CqBAAA%3B%3BAAGJ%2CwBAAyB%2CyBAAyB%3BEAC9C%2CWAAA%3BEACA%2CgBAAA%3B%3BAAGJ%2CwBAAyB%2C8BAA8B%3BEACnD%2CYAAA%3BEACA%2CqBAAA%3B%3BAAGJ%2CwBAAyB%2C8BAA8B%3BEACnD%2CWAAA%3BEACA%2CgBAAA%3B%3BAAGJ%3BEACI%2CWAAA%3BEACA%2CiBAAA%3BEACA%2CsBAAA%3B%3BAAGJ%2CeAAgB%3BEACZ%2C0BAAA%3BEACA%2C8BAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CkCAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAGJ%3BEACI%3BIACI%2CWAAW%2CYAAX%3B%3BEAEJ%3BIACI%2CWAAW%2CcAAX%3B%3B%3BAAIR%3BEACI%2CUAAA%3BEACA%2CYAAA%3BEACA%2CsBAAA%3BEACA%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2C0BAAA%3BEACA%2CuHAAA%3BEACA%2CmBAAA%3BEACA%2CeAAA%3B%3BAAGJ%2CiBAAiB%3BEACb%2CyBAAA%3BEACA%2C0FAAA%3B%3BAAGJ%2CuBAAwB%3BEACpB%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CsBAAA%3BEACA%2CmBAAA%3BEACA%2CoCAAA%3BEACA%2CcAAA%3BEACA%2CaAAA%3BEACA%2CmBAAA%3B%3BAAGJ%3BEACI%2CcAAA%3BEACA%2CaAAA%3BEACA%2CmBAAA%22%7D */