<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/menu.xsd">

    <menu>
        <add id="Iflair_SizeChart::main_menu"
             title="Size Chart Details"
             module="Iflair_SizeChart"
             sortOrder="10"
             resource="Iflair_SizeChart::main_menu"/>

        <add id="Iflair_SizeChart::size_chart"
             title="Size Chart Units List"
             module="Iflair_SizeChart"
             sortOrder="50"
             action="sizechart/sizechart/index"
             resource="Iflair_SizeChart::size_chart"
             parent="Iflair_SizeChart::main_menu"/>

        <add id="Iflair_SizeChart::measurement"
             title="Measurements"
             module="Iflair_SizeChart"
             sortOrder="100"
             parent="Iflair_SizeChart::main_menu"
             action="sizechart/measurement/index"
             resource="Iflair_SizeChart::measurement"/>

      <add id="Iflair_SizeChart::template"
             title="Size Chart Templates"
             module="Iflair_SizeChart"
             sortOrder="150"
             parent="Iflair_SizeChart::main_menu"
             action="sizechart/template/index"
             resource="Iflair_SizeChart::template"/>

    </menu>

</config>
