html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}
body {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 14px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
abbr[title] {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help;
}
b,
strong {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
mark {
  background: #f0f0f0;
  color: #000000;
}
small,
.small {
  font-size: 12px;
}
hr {
  border: 0;
  border-top: 1px solid #d1d1d1;
  margin-bottom: 20px;
  margin-top: 20px;
}
sub,
sup {
  font-size: 71.42857143000001%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dfn {
  font-style: italic;
}
h1 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}
h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 20px;
}
h3 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
h4 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h6 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
a,
.alink {
  color: #1979c3;
  text-decoration: none;
}
a:visited,
.alink:visited {
  color: #1979c3;
  text-decoration: none;
}
a:hover,
.alink:hover {
  color: #006bb4;
  text-decoration: underline;
}
a:active,
.alink:active {
  color: #ff5501;
  text-decoration: underline;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 25px;
}
ul > li,
ol > li {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
dl {
  margin-bottom: 20px;
  margin-top: 0;
}
dt {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0;
}
dd {
  margin-bottom: 10px;
  margin-top: 0;
  margin-left: 0;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
code {
  background: #f0f0f0;
  color: #111111;
  padding: 2px 4px;
  font-size: 12px;
  white-space: nowrap;
}
kbd {
  background: #f0f0f0;
  color: #111111;
  padding: 2px 4px;
  font-size: 12px;
}
pre {
  background: #f0f0f0;
  border: 1px solid #d1d1d1;
  color: #111111;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 12px;
  display: block;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap;
}
blockquote {
  border-left: 0 solid #d1d1d1;
  margin: 0 0 20px 40px;
  padding: 0;
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 14px;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  color: #333;
  line-height: 1.42857143;
  font-size: 10px;
  display: block;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
blockquote cite {
  font-style: normal;
}
blockquote:before,
blockquote:after {
  content: '';
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
.shipment-track th {
  text-align: left;
}
.shipment-track > tbody > tr > th,
.shipment-track > tfoot > tr > th,
.shipment-track > tbody > tr > td,
.shipment-track > tfoot > tr > td {
  vertical-align: top;
}
.shipment-track > thead > tr > th,
.shipment-track > thead > tr > td {
  vertical-align: bottom;
}
.shipment-track > thead > tr > th,
.shipment-track > tbody > tr > th,
.shipment-track > tfoot > tr > th,
.shipment-track > thead > tr > td,
.shipment-track > tbody > tr > td,
.shipment-track > tfoot > tr > td {
  padding: 0 10px;
}
.email-items th {
  text-align: left;
}
.email-items > tbody > tr > th,
.email-items > tfoot > tr > th,
.email-items > tbody > tr > td,
.email-items > tfoot > tr > td {
  vertical-align: top;
}
.email-items > thead > tr > th,
.email-items > thead > tr > td {
  vertical-align: bottom;
}
.email-items > thead > tr > th,
.email-items > tbody > tr > th,
.email-items > tfoot > tr > th,
.email-items > thead > tr > td,
.email-items > tbody > tr > td,
.email-items > tfoot > tr > td {
  padding: 0 10px;
}
@media only screen and (max-width: 639px) {
  html,
  body {
    background-color: #fff;
    width: 100% !important;
  }
  .main {
    max-width: 100% !important;
    min-width: 240px;
    width: auto !important;
  }
  .rma-items td,
  .rma-items th {
    font-size: 12px !important;
    padding: 5px !important;
  }
}
@media only screen and (max-width: 479px) {
  .email-summary h1 {
    font-size: 24px !important;
  }
  .order-details .address-details,
  .order-details .method-info {
    display: block;
    padding: 10px 0 !important;
    width: auto !important;
  }
  .order-details .address-details h3,
  .order-details .method-info h3 {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
  }
  .button .inner-wrapper {
    width: 100% !important;
  }
  .button .inner-wrapper td a {
    font-size: 16px;
  }
}
body,
table,
td,
a {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
}
table,
td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
a:visited {
  color: #1979c3 !important;
  text-decoration: none !important;
}
a:hover {
  color: #006bb4 !important;
  text-decoration: underline !important;
}
a:active {
  color: #ff5501 !important;
  text-decoration: underline !important;
}
.no-link a,
.address-details a {
  color: #333 !important;
  cursor: default !important;
  text-decoration: none !important;
}
.button .inner-wrapper td:hover {
  background-color: #006bb4 !important;
}
.button .inner-wrapper a:active,
.button .inner-wrapper td:active {
  background-color: #006bb4 !important;
}
.button a:active,
.button a:hover,
.button a:visited {
  border: 1px solid #006bb4;
  color: #fff !important;
  text-decoration: none !important;
}
.email-items {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2Flib%5C%2F_typography.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2Flib%5C%2F_utilities.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2F_variables.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2Flib%5C%2Fvariables%5C%2F_typography.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2FMagento_Sales%5C%2Fcss%5C%2Fsource%5C%2F_email.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2Flib%5C%2F_tables.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2Flib%5C%2F_responsive.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2Fcss%5C%2Fsource%5C%2F_email-base.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FMagento%5C%2Fblank%5C%2Fen_US%5C%2FMagento_Rma%5C%2Fcss%5C%2Fsource%5C%2F_email.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AA4NI%3BEC8EA%2CgBAAA%3BED5EI%2C8BAAA%3BEACA%2C0BAAA%3BEACA%2CsBAAA%3B%3BAAGJ%3BECuEA%2CWAAA%3BEAAA%2CaC5RqB%2CaCMC%2C8CFsRtB%3BEAAA%2CkBAAA%3BEAAA%2CgBAAA%3BEAAA%2CuBAAA%3BEAAA%2CeAAA%3B%3BADnEA%3BECmEA%2CaAAA%3BEAAA%2CmBAAA%3B%3BADtDA%2CIAAI%3BECsDJ%2CiCAAA%3BEDpDI%2CYAAA%3B%3BAAGJ%3BAACA%3BECgDA%2CgBAAA%3B%3BAD5CA%3BAACA%3BEC2CA%2CkBAAA%3B%3BADvCA%3BECuCA%2CmBAAA%3BEAAA%2CcAAA%3B%3BADlCA%3BAACA%3BECiCA%2CeAAA%3B%3BAD7BA%3BEACI%2CSAAA%3BEC4BJ%2C6BAAA%3BEAAA%2CmBAAA%3BEAAA%2CgBAAA%3B%3BADtBA%3BAACA%3BECqBA%2C6BAAA%3BEDnBI%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CwBAAA%3B%3BAAGJ%3BEACI%2CWAAA%3B%3BAAGJ%3BEACI%2CeAAA%3B%3BAAGJ%3BECMA%2CkBAAA%3B%3BADQA%3BECRA%2CgBAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BEAAA%2CaAAA%3BEAAA%2CmBAAA%3B%3BADYA%3BECZA%2CgBAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BEAAA%2CgBAAA%3BEAAA%2CmBAAA%3B%3BADgBA%3BEChBA%2CgBAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BEAAA%2CgBAAA%3BEAAA%2CmBAAA%3B%3BADoBA%3BECpBA%2CgBAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BEAAA%2CgBAAA%3BEAAA%2CmBAAA%3B%3BADwBA%3BECxBA%2CgBAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BEAAA%2CgBAAA%3BEAAA%2CmBAAA%3B%3BAD4BA%3BEC5BA%2CgBAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BEAAA%2CgBAAA%3BEAAA%2CmBAAA%3B%3BADgCA%2CEACI%3BAADA%2CEACA%3BAADI%2CEACJ%3BAADQ%2CEACR%3BAADY%2CEACZ%3BAADgB%2CEAChB%3BAADJ%2CEAEI%3BAAFA%2CEAEA%3BAAFI%2CEAEJ%3BAAFQ%2CEAER%3BAAFY%2CEAEZ%3BAAFgB%2CEAEhB%3BEClCJ%2CWAAA%3BEAAA%2CaC5RqB%2CaCMC%2C8CFsRtB%3BEAAA%2CkBAAA%3BEAAA%2CgBAAA%3BEAAA%2CcAAA%3B%3BADkDA%3BAACA%3BECnDA%2CcAAA%3BEAAA%2CqBAAA%3B%3BADjJA%2CCAAC%3BAAAD%2CMAAC%3BECiJD%2CcAAA%3BEAAA%2CqBAAA%3B%3BAD5IA%2CCAAC%3BAAAD%2CMAAC%3BEC4ID%2CcAAA%3BEAAA%2C0BAAA%3B%3BADvIA%2CCAAC%3BAAAD%2CMAAC%3BECuID%2CcAAA%3BEAAA%2C0BAAA%3B%3BADyEA%3BAACA%3BEC1EA%2CaAAA%3BEAAA%2CmBAAA%3B%3BADyEA%2CEAYM%3BAAXN%2CEAWM%3BECrFN%2CaAAA%3BEAAA%2CmBAAA%3B%3BADyEA%2CEAwBI%3BAAvBJ%2CEAuBI%3BAAxBJ%2CEAyBI%3BAAxBJ%2CEAwBI%3BEACI%2CgBAAA%3B%3BAAIR%3BECvGA%2CmBAAA%3BEAAA%2CaAAA%3B%3BAD4GA%3BEC5GA%2CgBAAA%3BEAAA%2CkBAAA%3BEAAA%2CaAAA%3B%3BADkHA%3BEClHA%2CmBAAA%3BEAAA%2CaAAA%3BEDqHI%2CcAAA%3B%3BAA2BJ%3BAACA%3BAACA%3BAACA%3BECnJA%2CsCEpR8C%2CwBFoR9C%3B%3BADwJA%3BECxJA%2CmBAAA%3BEAAA%2CcAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3BED6JI%2CmBAAA%3B%3BAAIJ%3BECjKA%2CmBAAA%3BEAAA%2CcAAA%3BEAAA%2CgBAAA%3BEAAA%2CeAAA%3B%3BADyKA%3BECzKA%2CmBAAA%3BEAAA%2CyBAAA%3BEAAA%2CcAAA%3BEAAA%2CuBAAA%3BEAAA%2CgBAAA%3BEAAA%2CaAAA%3BEAAA%2CeAAA%3BEDiLI%2CcAAA%3BEACA%2CqBAAA%3B%3BAATJ%2CGAWI%3BEACI%2C6BAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CqBAAA%3B%3BAAuBR%3BECjNA%2C4BAAA%3BEAAA%2CqBAAA%3BEAAA%2CUAAA%3BEAAA%2CWAAA%3BEAAA%2CaC5RqB%2CaCMC%2C8CFsRtB%3BEAAA%2CkBAAA%3BEAAA%2CgBAAA%3BEAAA%2CuBAAA%3BEAAA%2CeAAA%3B%3BAD6NQ%2CUAHJ%2CEAGK%3BAAAD%2CUAFJ%2CGAEK%3BAAAD%2CUADJ%2CGACK%3BEACG%2CgBAAA%3B%3BAAbZ%2CUAiBI%3BAAjBJ%2CUAkBI%3BAAlBJ%2CUAmBI%3BECpOJ%2CWAAA%3BEAAA%2CuBAAA%3BEAAA%2CeAAA%3BEDwOQ%2CcAAA%3B%3BAAEA%2CUARJ%2COAQK%3BAAAD%2CUAPJ%2CMAOK%3BAAAD%2CUANJ%2COAMK%3BEC1OT%2CSEzEyB%2CaFyEzB%3B%3BADiNA%2CUA8BI%3BEC%5C%2FOJ%2CkBAAA%3B%3BADsPI%2CUAAC%3BAACD%2CUAAC%3BEACG%2CSAAS%2CEAAT%3B%3BAAIR%3BEACI%2CYAAA%3B%3BAAEA%2CCAAC%3BAACD%2CCAAC%3BEACG%2CSAAS%2CEAAT%3BEACA%2CaAAA%3B%3BAAKR%3BECvQA%2CkBAAA%3B%3BAGzMJ%2CeC5EI%3BEACI%2CgBAAA%3B%3BAD2ER%2CeCxEM%2CQAEI%2CKACI%3BADqEd%2CeCvEM%2CQACI%2CKACI%3BADqEd%2CeCxEM%2CQAEI%2CKAEI%3BADoEd%2CeCvEM%2CQACI%2CKAEI%3BEACE%2CmBAAA%3B%3BADmEhB%2CeC9DM%2CQAAQ%2CKACJ%3BAD6DV%2CeC9DM%2CQAAQ%2CKAEJ%3BEACE%2CsBAAA%3B%3BAD2DZ%2CeCvDM%2CQAGI%2CKACI%3BADmDd%2CeCtDM%2CQAEI%2CKACI%3BADmDd%2CeCrDM%2CQACI%2CKACI%3BADmDd%2CeCvDM%2CQAGI%2CKAEI%3BADkDd%2CeCtDM%2CQAEI%2CKAEI%3BADkDd%2CeCrDM%2CQACI%2CKAEI%3BEJ2PV%2CeAAA%3B%3BAG9KJ%2CYCvGI%3BEACI%2CgBAAA%3B%3BADsGR%2CYCnGM%2CQAEI%2CKACI%3BADgGd%2CYClGM%2CQACI%2CKACI%3BADgGd%2CYCnGM%2CQAEI%2CKAEI%3BAD%2BFd%2CYClGM%2CQACI%2CKAEI%3BEACE%2CmBAAA%3B%3BAD8FhB%2CYCzFM%2CQAAQ%2CKACJ%3BADwFV%2CYCzFM%2CQAAQ%2CKAEJ%3BEACE%2CsBAAA%3B%3BADsFZ%2CYClFM%2CQAGI%2CKACI%3BAD8Ed%2CYCjFM%2CQAEI%2CKACI%3BAD8Ed%2CYChFM%2CQACI%2CKACI%3BAD8Ed%2CYClFM%2CQAGI%2CKAEI%3BAD6Ed%2CYCjFM%2CQAEI%2CKAEI%3BAD6Ed%2CYChFM%2CQACI%2CKAEI%3BEJ2PV%2CeAAA%3B%3BAKjQA%2CwBAJqD%3BECgJrD%3BEACA%3BIAEI%2CsBAAA%3BIACA%2CsBAAA%3B%3BEAGJ%3BIACI%2C0BAAA%3BIACA%2CgBAAA%3BIACA%2CsBAAA%3B%3BECpLJ%2CUAAW%3BEACX%2CUAAW%3BIACP%2CeAAA%3BIACA%2CuBAAA%3B%3B%3BAF%2BBJ%2CwBAJsD%3BEFxBtD%2CcACI%3BIACI%2CeAAA%3B%3BEA2DR%2CcACI%3BEADJ%2CcAEI%3BIACI%2CcAAA%3BIACA%2CeAAA%3BIACA%2CsBAAA%3B%3BEALR%2CcACI%2CiBAMI%3BEAPR%2CcAEI%2CaAKI%3BIACI%2CkBAAA%3BIACA%2CwBAAA%3B%3BEG%2BJR%2COACI%3BIACI%2CsBAAA%3B%3BEAFR%2COACI%2CeAGI%2CGACI%3BIACI%2CeAAA%3B%3B%3BAAnLpB%3BAACA%3BAACA%3BAACA%3BEACI%2C0BAAA%3BEACA%2C8BAAA%3B%3BAAIJ%3BEACI%2C%2BBAAA%3B%3BAAIJ%3BAACA%3BEACI%2CqBAAA%3BEACA%2CqBAAA%3B%3BAA6BJ%2CCAAC%3BEACG%2CcAAA%3BEACA%2CqBAAA%3B%3BAAGJ%2CCAAC%3BEACG%2CcAAA%3BEACA%2C0BAAA%3B%3BAAGJ%2CCAAC%3BEACG%2CcAAA%3BEACA%2C0BAAA%3B%3BAAIJ%2CQAAS%3BAHhET%2CgBAAiB%3BEGiEb%2CWAAA%3BEACA%2C0BAAA%3BEACA%2CgCAAA%3B%3BAAqFJ%2COACI%2CeACI%2CGAAE%3BEACE%2CyBAAA%3B%3BAAHZ%2COACI%2CeAKI%2CEAAC%3BAANT%2COACI%2CeAMI%2CGAAE%3BEACE%2CyBAAA%3B%3BAARZ%2COAYI%2CEAAC%3BAAZL%2COAaI%2CEAAC%3BAAbL%2COAcI%2CEAAC%3BEAEG%2CyBAAA%3BEACA%2CWAAA%3BEACA%2CgCAAA%3B%3BAHER%3BECuIA%2CgBAAA%3BEACA%2CkBAAA%3BEACA%2CWAAA%3BEACA%2C4CAAA%3BEACA%2CiCAAA%22%7D */