<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="veepie" translate="label" sortOrder="110">
            <label>Veepie Extensions</label>
        </tab>
        <section id="veepie_freshdesk" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FreshDesk</label>
            <tab>veepie</tab>
            <resource>Veepie_FreshDesk::config_freshdesk</resource>
            <group id="freshdesk_api_configuration" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Freshdesk API Key</label>
                <field id="freshdesk_api" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Freshdesk API Key</label>
                </field>
                <field id="freshdesk_domain" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Freshdesk Domain</label>
                </field>
            </group>
        </section>
    </system>
</config>
