<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Iflair_Faq::faq" title="FAQ Management" sortOrder="10">
                <resource id="Iflair_Faq::faq_send_email" title="Send FAQ Email" sortOrder="20"/>
            </resource>
        </resource>
    </resources>
</acl>
