<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Iflair_Faq::iflair_countdowntimer"
             title="FAQ Questions"
             module="Iflair_Faq"
             sortOrder="60"
             action="faq/faq/index"
             resource="Iflair_Faq::iflair_countdowntimer"
             parent="Iflair_CountDownTimer::main_menu"/>
    </menu>

</config>
