<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/system_file.xsd">
    <system>
        <tab id="faq_tab" translate="label" sortOrder="200">
            <label>FAQ </label>
        </tab>
        
        <section id="faq_config" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FAQ Settings</label>
            <tab>faq_tab</tab>
            <resource>Iflair_Faq::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>FAQ Extension </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable the countdown timer globally</comment>
                </field>
                
            </group>
        </section>
    </system>
</config>