<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Iflair_CustomerBought::customer_bought"
             title="Customer Bought Products"
             module="Iflair_CustomerBought"
             sortOrder="30"
             action="customerbought/customerbought/index"
             resource="Iflair_CustomerBought::customer_bought"
             parent="Iflair_CountDownTimer::main_menu"/>
    </menu>

</config>
