<!--@subject {{trans "U bent ingeschreven voor de opleiding" name=$post_title}} @-->
<!--@vars {
"var subscriber_name":"Subscriber Name",
"var post_title":"Post Title",
"var post_date":"Post Date",
"var post_hour":"Post Hour",
"var post_location":"Post Location",
"var post_url":"Post URL",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<h1>
    {{trans "U bent ingeschreven voor de opleiding %name" name=$post_title}}
</h1>

<p>{{trans "Dag"}} {{var subscriber_name}},</p>

<p>
    {{trans 'We hebben uw inschrijving voor
    <a href="%post_url">%post_title</a> goed ontvangen.' post_url=$post_url
    post_title=$post_title |raw}}<br />
    {{trans "Datum:"}} {{var post_date}} {{var post_hour}}<br />
    {{trans "Adres:"}} {{var post_location}}
</p>

<p>
    {{trans 'Hebt u nog vragen? bel +32 (0)9 279 76 57 of mail naar
    <a href="mailto:info@distri-company.com">info@distri-company.com</a>' |raw}}
</p>

{{template config_path="design/email/footer_template"}}
