<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iflair_Delivery::iflair_countdowntimer"
             title="Pincode Delivery"
             module="Iflair_Delivery"
             sortOrder="60"
             action="delivery/delivery/index"
             resource="Iflair_Delivery::iflair_countdowntimer"
             parent="Iflair_CountDownTimer::main_menu"/>
    </menu>
</config>